[submodule "base/usr/share"]
	path = base/usr/share
	url = https://github.com/Gamma-Microsystems/share.git
[submodule "lib"]
	path = lib
	url = https://github.com/Gamma-Microsystems/lib.git
[submodule "userland"]
	path = userland
	url = https://github.com/Gamma-Microsystems/userland.git
