[submodule "base/usr/share"]
	path = base/usr/share
	url = https://github.com/Gamma-Microsystems/share.git
[submodule "lib"]
	path = lib
	url = https://github.com/Gamma-Microsystems/lib.git
[submodule "userland"]
	path = userland
	url = https://github.com/Gamma-Microsystems/userland.git
[submodule "base/usr/include/sirius"]
	path = base/usr/include/sirius
	url = https://github.com/Gamma-Microsystems/sirius.git
[submodule "base/usr/include/kernel"]
	path = base/usr/include/kernel
	url = https://github.com/Gamma-Microsystems/kernel.git
[submodule "pdclib"]
	path = pdclib
	url = https://github.com/Gamma-Microsystems/pdclib
