[submodule "libc"]
	path = libc
	url = https://github.com/Gamma-Microsystems/libc.git
[submodule "base/usr/include"]
	path = base/usr/include
	url = https://github.com/Gamma-Microsystems/include.git
[submodule "base/usr/share"]
	path = base/usr/share
	url = https://github.com/Gamma-Microsystems/share.git
